body, h1, p {
    margin: 0;
    padding: 0;
}

/* BG img and body styling */
body {
  background-image: url('https://github.com/1nfrarouge/Concentration-Game/blob/main/Background.png?raw=true');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Arial, sans-serif;
  color: white;
}
/* Center page content */
.container {
  display:grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "character game controls";
  height: 100vh;
  justify-content: center;
  align-items: center;
}
/* Header Styles */
header {
    text-align: center;
    padding: 20px;
    color: white;
  }
  
  /* Main Styles */
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .message {
    text-align: center;
    margin-bottom: 20px;
  }

  .markers {

  }

  .board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
  }

  .card {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;  
  }

  .scoreboard {
    text-align: center;
    margin-top: 20px;
  }

  .button-container {
    margin-top: 20px;
  }

  .pop-up {
    position: fixed;
    padding: 20px;
    border: 1px;
    text-align: center;
  }

  button {
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }

  button:hover {
  }